body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:black; /* Azul royal */
    color: white;
}

header {
    background-color: gray; /* Azul mais escuro para o cabeçalho */
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 70px 20px 20px; /* Ajusta o padding para não sobrepor o cabeçalho fixo */
}

footer {
    background-color: gray; /* Azul mais escuro para o rodapé */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    nav li {
        margin: 0;
    }

    nav a {
        padding: 10px;
        display: block;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}
